<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gradient-to-b from-amber-300 via-orange-500 to-red-500 ">

    <div class="flex justify-center items-center mt-3">
    <img src="./static/icons/unknown.png" alt="Weather image with question mark in the middle">
    </div>

    <div class="flex justify-center">
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="form-group">
<div >
            {{ form.city(class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id="city", placeholder="City") }}
     </div>
            <br>
            <div class="pt-3 flex justify-center">
                        {{ form.submit(class="shadow bg-purple-500 py-3 px-3 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold rounded", value="Get Weather")}}
            </div>
                <br>
        </div>
            </form>
</div>
        <div class="container mx-auto min-w-80 min-h-80 bg-[#21212120] rounded-lg ">
            <div class="text-[#000000100] flex flex-wrap justify-between">
                <div class="mr-0">
                    <ul>
                        <li class="text-8xl ml-20 mt-6">{{ current_temperature }}</li>
                        <li class="text-4xl ml-20 mt-6"> {{ name }}, {{ country }}</li>
                        <li class="text-3xl ml-20 mt-6">Minimum {{ min_temp }}</li>
                        <li class="text-3xl ml-20 mt-6 mb-6">Maximum {{ max_temp }}</li>
                    </ul>
                </div>
                <div class="mr-0">
                    <ul>
                        <li class="text-3xl ml-16 mt-10">Feels Like {{ feels_like }}</li>
                        <li class="text-3xl ml-16 mt-8">Humidity is at {{ humidity }}</li>
                        <li class="text-3xl ml-16 mt-8">Wind speed is {{ wind }}</li>
                        <li class="text-3xl ml-16 mt-8 mb-10">Pressure is {{ pressure }}</li>
                    </ul>
                </div>
                <div class="mr-0">
                    <ul>
                        <li class="text-3xl ml-16 mt-12">Expecting {{ description }}</li>
                        <li class="text-3xl ml-16 mt-12 mb-12">Sunrise at {{ sunrise }}</li>
                        <li class="text-3xl ml-16 mb-12">Sunset at {{ sunset }}</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <!-- Weather Icons from https://github.com/yuvraaaj/openweathermap-api-icons -->
                            <img class="mr-16 my-20" src="./static/icons/{{ icon }}.png" alt="Weather Icon">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</body>
</html>