<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-amber-300 via-orange-500 to-red-500 min-h-screen">

    <div class="flex justify-center items-center mt-3">
    <img src="./static/icons/unknown.png" alt="Weather image with question mark in the middle">
    </div>

    <div class="flex justify-center">
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="form-group">
<div >
            {{ form.city(class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id="city", placeholder="City") }}
     </div>
            <br>
            <div class="pt-3 flex justify-center">
                        {{ form.submit(class="shadow bg-purple-500 py-3 px-3 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold rounded", value="Get Weather")}}
            </div>
                <br>
        </div>
            </form>
</div>
        <div class="container mx-auto w-[96rem] h-64 mt-20 bg-[#21212120] rounded-lg">
            <div class="relative text-[#000000100]">
                <div class="list-none ">
                    <ul>
                        <li class="text-8xl absolute left-[60px] top-[10px]">{{ current_temperature }}</li>
                        <li class="text-4xl absolute left-[60px] top-[110px]"> {{ name }}, {{ country }}</li>
                        <li class="text-3xl absolute left-[60px] top-[158px]">Minimum {{ min_temp }}</li>
                        <li class="text-3xl absolute left-[60px] top-[206px]">Maximum {{ max_temp }}</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="text-3xl absolute left-[500px] top-[34px]">Feels Like {{ feels_like }}</li>
                        <li class="text-3xl absolute left-[500px] top-[84px]">Humidity is at {{ humidity }}</li>
                        <li class="text-3xl absolute left-[500px] top-[134px]">Wind speed is {{ wind }}</li>
                        <li class="text-3xl absolute left-[500px] top-[184px]">Pressure is {{ pressure }}</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="text-3xl absolute left-[900px] top-[48px]">Expecting {{ description }}</li>
                        <li class="text-3xl absolute left-[900px] top-[110px]">Sunrise at {{ sunrise }}</li>
                        <li class="text-3xl absolute left-[900px] top-[168px]">Sunset at {{ sunset }}</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <img class="absolute left-[1300px] top-[60px]" src="./static/icons/{{ icon }}.png" alt="Weather Icon">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</body>
</html>