<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-amber-300 via-orange-500 to-red-500 min-h-screen">
    <h1>Weather App</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.city(class="form-control", id="city", placeholder="City") }}
            <br>
            <label>City: {{ name }}   </label>
            <label>Country: {{ country }}</label>
            <br>
            <label>Temperature : {{ current_temperature }}</label>
            <br>
            <label>Excepted: {{ description }}</label>
            <img src="./static/icons/{{ icon }}.png" alt="Weather Icon">

            </div>
</form>
</body>
</html>